### Java template
*.class

#properties
activemq.properties

# Package Files #
*.jar
*.war
*.ear

# target
target

#eclipse file
*.settings
.classpath
.project

#idea file
*.idea
idea

#git file
.git


